.videos {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  row-gap: auto;
}
.videos__item {
  border-radius: 10px;
  margin: auto;
  transition: 0.5s ease-in-out;
}
.videos__item:hover {
  scale: 1.2;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 990px) {
  .videos {
    flex-direction: column;
    align-items: gap;
    margin: 50px;
    align-items: center;
  }
  .videos__item {
    margin: 50px;
    max-width: 300px;
  }
}
